@import 'tailwindcss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme{
  --color-snow: #FFFAFA;

  --color-light-sky-blue: #87cefa;
  --color-sky-blue: #87CEEB;
  --color-deep-sky-blue: #00bfff;
  --color-dodger-blue: #1e90FF; 
  --color-midnight-blue: #191970
}
